<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>$!{appName}</title>

    <!-- Bootstrap core CSS -->
    <link href="$!{staticRes}/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="$!{staticRes}/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="$!{staticRes}/bootstrap/ie/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="$!{staticRes}/bootstrap/ie/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="$!{staticRes}/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="$!{staticRes}/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Content-->
	$!{screen_content}

	<!-- footer -->
    #parse("common/footer.vm") 
    
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="$!{staticRes}/jquery/1.11.3/jquery.min.js"></script>
    <script src="$!{staticRes}/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="$!{staticRes}/bootstrap/ie/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<script>
	var signin = function() {
		var userIdObj = $("#userId");
		var passwordObj = $("#password");
		if (userIdObj.val() == '') {
			alert("登录账号不能为空");
			userIdObj.focus();
			return;
		} else if (userIdObj.val().length >= 64) {
			alert("登录账号长度不能超过64个字符");
			userIdObj.focus();
			return;
		} else if (passwordObj.val() == '') {
			alert("登录密码不能为空");
			passwordObj.focus();
			return;
		} else if (passwordObj.val().length >= 64) {
			alert("登录密码长度不能超过64个字符");
			passwordObj.focus();
			return;
		}
		$("#operate").val("signin");
		$("#form-signin").submit();
	}; 
</script>