<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>$!{appName}</title>
	    <!-- CSS style-->
	    <link href="$!{staticRes}/plugin/bootstrap/stickUp/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="$!{staticRes}/plugin/bootstrap/stickUp/stickup.css" rel="stylesheet" />
  	</head>
  	
  	<body>
    <!-- START THE NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container">
      <div class="navwrapper"><!-- Navbar-->
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">stickUp</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="menuItem active"><a href="#home">Home</a></li>
                <li class="menuItem"><a href="#features">Features</a></li>
                <li class="menuItem"><a href="#updates">Updates</a></li>
                <li class="menuItem"><a href="#installation">Installation</a></li>
                <li class="menuItem"><a href="#one-pager">One Pager</a></li>
                <li class="menuItem"><a href="#extras">Extras</a></li>
                <li class="menuItem"><a href="#wordpress">Wordpress</a></li>
                <li class="menuItem"><a href="#contact">Contact</a></li>    
              </ul>
            </div>
          </div>
        </div> 
      </div><!-- End Navbar -->
      
      </div>
    </div> <!-- END NAVBAR -->

	<!-- Content-->
   	$!{screen_content}
		
    <!-- Javascript-->
    <script src="$!{staticRes}/plugin/bootstrap/stickUp/js/jquery.js"></script>
    <script src="$!{staticRes}/plugin/bootstrap/stickUp/js/bootstrap.min.js"></script>  
	<script src="$!{staticRes}/plugin/bootstrap/stickUp/js/stickUp.min.js"></script>

    <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          $('.navbar-wrapper').stickUp({
                        parts: {
                          0:'home',
                          1:'features',
                          2: 'updates',
                          3: 'installation',
                          4: 'one-pager',
                          5: 'extras',
                          6: 'wordpress',
                          7: 'contact'
                        },
                        itemClass: 'menuItem',
                        itemHover: 'active',
                        topMargin: 'auto'
                      });
        });
      });
    </script>
  </body>
</html>