#parse("common/index/head.vm") <!-- 通用Index头部-->
<thead>
<tr>
	<th>账号</th>
	<th>姓名</th>
	<th>终端</th>
	<th>IP</th>
	<th>登录时间</th>
	<th>登出时间</th>
</tr>
</thead>
<tbody>
#foreach($item in $!{model.result})
<tr>
	<td>$!{item.userId}</td>
	<td>$!{item.userName}</td>
	<td>$!{item.loginAgentName}</td>
	<td>$!{item.loginIp}</td>
	<td>$dateUtils.dateFormatDateTime($!{item.loginTime})</td>
	<td>$dateUtils.dateFormatDateTime($!{item.logoutTime})</td>
</tr>
#end
</tbody>
#parse("common/index/bottom.vm") <!-- 通用Index底部-->